.layout {
    background-color: $clr_black;
    padding: 0 $px_80;
}

@media only screen and (max-width: 800px) {
    .layout {
        padding: 0 $px_40;
    }
}

@media only screen and (max-width: 768px) {
    .layout {
        padding: 0 $px_20;
    }
}